@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --cor-primaria: #121358;
    --cor-secundaria: #FFC94D;
    --cor-terciaria: #FA6781;
    --cor-quartenaria: #B1C1C0;
    --font-principal: "Montserrat", sans-serif;
    --font-secundaria: "Poppins", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.navprincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-secundaria);
}
.navprincipal button{
    background-color:  var(--cor-terciaria);
    height:40px;
    width: 150px;
    margin-right: 0.7rem;
    cursor: pointer;
}
.navprincipal ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
}

.navprincipal a{
    outline-color: transparent;
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--font-principal);
}
.navprincipal button:visited ,
.navprincipal button:hover ,
.navprincipal button:active{
    background-color:#fa66cb;
}
section{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
}
.textoherosection{
    font-family: var(--font-secundaria);
    color: var(--cor-secundaria);
    margin-left: 0.7rem;
    line-height: 1.7rem;
    padding-top: 2rem;
}
.imgherosection{
    margin-right: 0.3rem;
}
.imgherosection img{
    height: 400px;
    width: 450px;
    border-radius: 30% 0 30% 30%;
    object-fit: cover;
}
section button{
     background-color:  var(--cor-terciaria);
    height:40px;
    width: 150px;
    margin-left: 0.2rem;
    cursor: pointer;
    margin-bottom: 1rem;
}
section a{
    outline-color: transparent;
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--font-principal);
}
section button:visited,
section button:hover,
section button:active{
    background-color:#fa66cb;
}
.categorias{ 
    padding-top: 2rem;
    background-color: var(--cor-primaria)
}
.cabecalho h2{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    background-color: var(--cor-primaria);
}
.cards{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: var(--cor-primaria);
}
.card img{
    height: 110px;
    width: 110px;
    margin: 0.7rem;
      border-radius: 30% 30% 30% 30%;
    object-fit: cover;
}
.card p{
     color: var(--cor-secundaria);
    font-family: var(--font-principal);
    margin: 1rem;
    text-align: center;
    line-height: 0.3rem;
}
.candidatos{
    max-width: 700px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(230px, 1fr));
    gap: 1rem;
}
.candidato{
    border: 1px solid var(--cor-quartenaria);
    border-radius: 0.7rem;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}
.candidato img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.candidato h3{
    margin: 0;
    padding: 0.5rem;
}
.candidato ul{
    padding: 0.5rem;
}
.candidato footer{
    background-color: var(--cor-terciaria);
    color: var(--cor-quartenaria);
    padding: 0.5rem;
}